
.testimonial-card{
    /*
    background: #c5e1fc8e;
    box-shadow:0px 0px 100px rgba(0,0,0,.4);
    */
    border:1px solid #20486d;
    border-radius:25px;
    padding:0 15px;
    margin:25px auto;
    width:95%;
    position:relative;
}

@media only screen and (min-width:501px){
    .testimonial-card{
        width:330px;
        margin:30px 25px;
    }
}

.testimonial-card .card-quotes-symbol{
    margin-top:15px;
}

.testimonial-card .card-quote{
    margin-bottom:200px;
}

.testimonial-card .card-quote p{
    font-size:15px;
    font-weight:500;
    color:#47065f;
    margin-top:15px;
    max-height:350px;
}

@media only screen and (min-width:501px){
    .testimonial-card .card-quote p{
        font-size:14px
    }
}

.testimonial-card .card-author .circle-image{
    width:100px;
    height:100px;
    margin:15px auto 5px auto;
    border-radius:50%;
    /*border:8px solid #640985*/
}

.testimonial-card .card-author{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}

.testimonial-card .card-author .author-info h5{
    font-size:19px;
    font-weight:600;
}

.testimonial-card .card-author .author-info p{
    font-size:14px;
}



.testimonial-card .card-author .circle-image img{
    width:90px;
    height:90px;
    border-radius:50%;
}