.blog-article{
    width:100%;
    margin:50px 0 50px 0;
    padding:30px 12px;
}

.blog-article h1{
    font-size:2.5rem !important;
    font-weight:800 !important;
}

.blog-article .article-information {
    margin:15px 0 25px 0;
}

.blog-article .article-banner {
    margin-bottom:35px;
}

@media only screen and (min-width:601px){
    .blog-article h1{
        font-size:3rem !important;
    }
}

@media only screen and (min-width:768px){
    .blog-article{
        width:80%;
        padding-left:0;
        padding-right:0;
        margin-left:auto;
        margin-right:auto;
    }
}

@media only screen and (min-width:992px){
    .blog-article{
        max-width:850px;
        width:auto;
    }
    .blog-article h1{
        font-size:3.5rem !important;
    }
}

/* Style for article content*/

.article-content h2{
    margin:30px 0 10px;
}

.article-content .strg-lk{
    font-weight:600;
    color: var(--bs-secondary) !important;
}

.article-content .strg-lk:hover{
    text-decoration: underline !important;
}

.article-content ul li{
    list-style: initial !important;
}

.article-content ol li{
    list-style: initial !important;
}

