.banner-blog{
    height:60vh;/**728*/

}
.banner-blog .banner-content h1{
    text-align: center;
}

.banner-blog .banner-content .bread-crumb *{
    color:rgba(253, 251, 253, 0.7) !important
}

.banner-blog .banner-blog-image{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:-3;
    height:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(./../../images/banner-blog-lg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-blog .banner-blog-image::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    bottom:0;
    z-index:-2;
    display: block;
    background-color: rgba(0,0,0,.65);

}

@media all and (max-width:900px){
    .banner-blog .banner-blog-image{
        background:url(./../../images/banner-blog-md.jpg);
        background-size: cover;

    }
}
/*
@media all and (max-width:500px){
    .banner-blog{
        height: 500px;
    }
}*/

/*
    articles
*/

.articles{
    padding:0 25px;
}

@media only screen and (min-width:768px){
    .articles .all-articles .article .card-article{
        display: flex;
        justify-content: flex-start;
    }

    .articles .all-articles .article {
        margin-bottom:80px;
    }

    .articles .all-articles .article {
        margin-bottom:80px;
    }
}


@media only screen and (max-width:767px){

    .articles .all-articles .article .article-img {
        padding:0;
    }

    .articles .all-articles .article .article-img img{
        object-fit: cover !important;
        max-width:100% !important
    }
}
