@media only screen and (min-width:768px){
    .landry-portfolio-home .home-banner{
        min-height:550px;
    }
}

.landry-portfolio-home .home-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}


.landry-portfolio-home .home-banner .banner-home{
    /*background: url(./../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding-top:90px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.landry-portfolio-home .home-banner .banner-home::after{
    content: '';
    position:absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    /*background: rgba(0, 0, 0, .7);*/
    z-index:-3;
}

@media all and (min-width:768px){
    .landry-portfolio-home .home-banner .banner-home{
        padding-top:0px !important;
    }
}


.landry-portfolio-home .home-banner .banner-home .sub-title{
    font-size:1.7rem;
}

.landry-portfolio-home .home-banner .banner-home .title h1{
    background: -webkit-linear-gradient(50deg,#de97f8,#1e3b4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width:501px) and (max-width:767px){
    .landry-portfolio-home .home-banner .banner-home .title h1{
       font-size:3.5rem !important
    };
}

.landry-portfolio-home .home-banner .banner-home .content .link-about-modeste{
    color: #fff !important;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size:1.6rem;
}

.landry-portfolio-home img{
    max-width:100%;
}




/*
    #Témoignages
*/

.landry-portfolio-home .temoignages {
    background-color: #d486f075;
    padding:65px 0 25px 0;
}

.landry-portfolio-home .temoignages h2{
    font-size:18px !important;
    text-align:center;
    text-transform: uppercase;
}


/* Biography*/

.landry-portfolio-home .biography .landry-biography .biography-content p{
    font-size:1.5rem;
}

.landry-portfolio-home .biography .biography-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:70px 0 50px;
}

@media only screen and (min-width:361px){
        
    .landry-portfolio-home .biography .biography-image .image-container{
        position:relative;
    }

    .landry-portfolio-home .biography .biography-image .image-container::before{
        content:'';
        position:absolute;
        left:-50px;
        right:-50px;
        bottom: -20px;
        top:-20px;
        display:block;
        width:auto;
        border-radius:15px;
        border:1px solid var(--bs-secondary);
        height:auto;
    }

    .landry-portfolio-home .biography .biography-image .image-container::after{
        content:'';
        position:absolute;
        left:-20px;
        right:-20px;
        bottom: -40px;
        top:-40px;
        display:block;
        width:auto;
        border-radius:15px;
        border:1px solid var(--bs-secondary);
        height:auto;
    }

}

/* Portfolios */

.landry-portfolio-home .portfolio h2.section-title{
    margin-bottom:10px !important
}

.landry-portfolio-home .portfolio .portfolio-options{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    flex-wrap: wrap;
}

.landry-portfolio-home .portfolio .portfolio-options button{
    background-color: transparent;
    border:0;
    padding:10px 8px;
    font-weight:500;
    font-size:1.7rem;
}

.landry-portfolio-home .portfolio .portfolio-options button.active{
    color:var(--bs-secondary);
    font-weight:900;
    position:relative;
    transition:.2s;
}

.landry-portfolio-home .portfolio .portfolio-options button.active::before{
    content:'';
    position:absolute;
    bottom:0;
    left:8px;
    display: block;
    width: 30px;
    height:3px;
    border-radius:20px;
    background-color: var(--bs-secondary);
}

.landry-portfolio-home .portfolio .portfolio-options button abbr{
    border:0;
    cursor:pointer;
    text-decoration: none;
}