/* Règle font-face*/


/*DM Sans police pour le corps de texte*/

@font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DMSans/dmsans-regular-webfont.woff2') format('woff2'),
         url('./fonts/DMSans/dmsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Police Mulish pour les titres et les sous-titres*/

@font-face {
    font-family:'Mulish';
    src: url('./fonts/Mulish/mulish-regular-webfont.woff2') format('woff2'),
         url('./fonts/Mulish/mulish-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish/mulish-semibold-webfont.woff2') format('woff2'),
         url('./fonts/Mulish/mulish-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish/mulish-bold-webfont.woff2') format('woff2'),
         url('./fonts/Mulish/mulish-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish/mulish-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/Mulish/mulish-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}


body,html{
    font-family: 'DM Sans' !important;
    overflow-x: hidden;
    width:100% !important;
    color:#1e3347 !important;
}

html{
    font-size:10px !important;
}
/*
@media only screen and (min-width:1650px){
    html{
        font-size: 13px !important;
    }
}
*/
body{
    font-size:1.6rem !important;
}

select,option,*::placeholder{
    font-size:1.4rem !important;
}

.body-nav-open .overlay{
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}

body.body-nav-open a:not(body.body-nav-open header a){
    pointer-events: none;
}

ul,li{
    list-style: none;
}

.btn:focus,.btn-primary:focus,.btn-secondary:focus,input:focus,select:focus,textarea:focus{
    box-shadow:none !important;
}

input::placeholder{
    font-size:1.4rem !important
}

h1,h2,h3,h4,h5,h6{
    font-family:Mulish !important
}

h1{
    font-size:3rem !important;
}

h2{
    font-size:2.8rem !important;
    font-weight:900
}

h2.section-title{
    margin:0;
    padding-top:15px;
    padding-bottom:18px;
    margin-bottom:35px;
    font-size:2.5rem !important;
    position:relative;
    color:var(--bs-secondary);
}


h2.section-title::before{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    width:50px;
    height:6px;
    border-radius:15px;
    background:var(--bs-secondary);
}

h3{
    font-size:2.4rem !important;
    font-weight:900
}

h4{
    font-size:2rem !important;
    font-weight:700
}

@media only screen and (min-width:501px){
    h1{
        font-size:6rem !important;
    }
    
    h2{
        font-size:3rem !important;
        font-weight:900
    }
    
    h3{
        font-size:2.8rem !important;
        font-weight:800
    }
    
    h4{
        font-size:2.5rem !important;
        font-weight:700
    }
}

a{
    text-decoration: none !important;
    color:#1e3347 !important;
}

/*Custum button*/

.btn-btn{
    background-image: linear-gradient(45deg,#4b9ce7,#d56ffa);
    color:#02294d;
}

.tag{
    padding:7px 12px;
    border-radius:200000000px;
    background-color: #f1dff8bb ;
    color:#632f76;
    border:2px solid #b598c0;
    display: inline-block;
    margin:10px 0;
    font-size:1.3rem;
    font-weight:500;
}

/*BreadCrumb style*/

nav.breadcrumb ol{
    display: flex !important;
    padding-left:  0 !important;
}

nav.breadcrumb ol li.breadcrumb__item{
    padding:5px 10px;
}
nav.breadcrumb ol li.breadcrumb__item .breadcrumb__link__active{
    pointer-events: none !important;
}