.card-article .card-body .card-category-title{
    border:2px solid #b118e9 !important;
    padding:8px 5px;
    border-radius:35px !important;
    color:#b118e9 !important;
    box-shadow: 1px 1px 30px #e8b7fa,-1px -1px 10px #df98f8;
    font-size:12px !important;
    font-weight:lighter !important
}

.card-article .card-image div:first-child{
    position:absolute !important;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height: 100%;
}

@media all and (max-width:768px){
    .card-article .card-image {
        height:250px;
        width:100%;
    }
}

.card-article .card-image {
    position:relative !important;
}

.card.card-post-recent .card-body .card-category-title{
    border:2px solid #b118e9 !important;
    padding:5px;
    font-size:10px !important;

}


.card.card-post-recent{
    font-size:13px !important
}

.card.card-post-recent .card-body .card-title{
    font-size:16px !important;
    margin:0 !important
}



.card .row{
    margin:0 !important
}

.card .row > div{
    padding-left:0 !important;
}

@media all and (max-width:990px){
    .card .row > div{
        padding-right:25px !important;
    }
}

.card{
    margin:60px auto !important ;
}